<!DOCTYPE html>

<!--
  Veronika Duvanova, Naomi Kurian, Alvin Sze, Andrew Tsai  Bacon Bros
  SoftDev
  P04 - Makers Makin' It
  2026 - 3 - 30
  time spent: 1
 -->

<html>
  <head>
    <title>nutrition</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <nav class = "navbar">
      <form action="/" method="POST"><input type="submit" value="HOME"></form>
      <form action="/" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/" method="POST"><input type="submit" value="EXERCISE"></form>
      <form action="/nutrition" method="POST"><input type="submit" value="NUTRITION"></form>
      <form action="/" method="POST"><input type="submit" value="PERSONALIZE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <div class = "divider"></div>

    <div class = "content">
      <h1>Nutrition</h1>

      tables and stuff

    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myRadarChart" width="400" height="400"></canvas>
<script>
const data = {
  labels: {{labels | tojson}},
  datasets: [{
    label: 'Food',
    data: {{values | tojson}},
    backgroundColor: 'rgba(54, 162, 235, 0.2)',
    borderColor: 'rgba(54, 162, 235, 1)',
    borderWidth: 2
  }]
};

const config = {
  type: 'radar',
  data: data,
  options: {
    scales: {
      r: {
        beginAtZero: true
      }
    }
  }
};

const ctx = document.getElementById('myRadarChart').getContext('2d');
new Chart(ctx, config);
</script>
  </body>
</html>
