<!DOCTYPE html>

<!--
  Veronika Duvanova, Naomi Kurian, Alvin Sze, Andrew Tsai  Bacon Bros
  SoftDev
  P04 - Makers Makin' It
  2026 - 3 - 30
  time spent: 1
 -->

<html>
  <head>
    <title>EXPLORE</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <nav class = "navbar">
      <form action="/" method="POST"><input type="submit" value="HOME"></form>
      <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/explore" method="POST"><input type="submit" value="EXPLORE"></form>
      <form action="/personalize" method="POST"><input type="submit" value="PERSONALIZE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>EXPLORE</h1>

    <div>
        <h3>Know what to look for:</h3>
        <p>Elaborate on how this graph is a bar graph that shows a trend across all exercises through comparing one variable selected from dropdown menu</p>

        <!-- Insert dropdown and graph -->
      
    </div>
    
    <div>
        <h3>Know the goal of an exercise:</h3>
        <p>Elaborate on how this graph is a strength/polygon graph that shows numerical values of a chosen workout from dropdown menu</p>

        <!-- Insert dropdown and graph -->
      
    </div>

    <div>
        <h3>Compare the two:</h3>
        <p>Elaborate on how this graph is a line graph that compares the stats of two exercises</p>

        <!-- Insert dropdown and graph -->
      
    </div>
    
  </body>
</html>
