<!DOCTYPE html>

<!--
  Veronika Duvanova, Naomi Kurian, Alvin Sze, Andrew Tsai  Bacon Bros
  SoftDev
  P04 - Makers Makin' It
  2026 - 3 - 30
  time spent: 1
 -->

<html>
  <head>
    <title>PERSONALIZE</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <nav class = "navbar">
      <form action="/" method="POST"><input type="submit" value="HOME"></form>
      <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/explore" method="POST"><input type="submit" value="EXPLORE"></form>
      <form action="/personalize" method="POST"><input type="submit" value="PERSONALIZE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>PERSONALIZE YOUR WORKOUTS</h1>

    <p>Personalization process overview paragraph insert here</p>

    <div>
        <h3>Your Preferred Foods</h3>
          <!-- 
          TEST CASE: print the whole preference list
          {% print(food) %} -->

          <ul>
          {% for given_food in food %}
            <li>
              <div>
                <p>Name: {{ given_food[0] }}</p>
                <p>Calories: {{ given_food[1] }}</p>
                <p>Protein: {{ given_food[4] }}</p>
              </div>

              <div>
                <form method="POST" action="/personalize" style="display:inline;">
                  <input type="hidden" name="food_name" value="{{ given_food[0] }}">
                  <button type="submit" name="action" value="remove_food">Remove</button>
                </form>
              </div>
            </li>
          {% endfor %}
          </ul>

        <form action="/profile" method="POST"><input type="submit" value="ADD MORE"></form>  
    </div>
    
    <div>
      <h3>Your Preferred Workouts</h3>
      <ul>
      {% for given_exercise in exercise %}
        <li>
          
          <div>
              <p>Name: {{ given_exercise[9] }}</p>
              <p>Workout: {{ given_exercise[7] }}</p>
              <p>Sets: {{ given_exercise[10] }}</p>
              <p>Reps: {{ given_exercise[11] }}</p>
              <p>Calories Burned: {{ given_exercise[13] }}</p>
              <p>Target Muscle Group: {{ given_exercise[14] }}</p>
            </div>
          
            <div>
                <form method="POST" action="/personalize" style="display:inline;">
                <input type="hidden" name="exercise_name" value="{{ given_exercise[9] }}">
                <button type="submit" name="action" value="remove_exercise">Remove</button>
              </form>
            </div>
        </li>
      {% endfor %}
      </ul>
      <form action="/profile" method="POST"><input type="submit" value="ADD MORE"></form>  
    </div>  
  </body>
</html>
