<!DOCTYPE html>

<!--
  Veronika Duvanova, Naomi Kurian, Alvin Sze, Andrew Tsai  Bacon Bros
  SoftDev
  P04 - Makers Makin' It
  2026 - 3 - 30
  time spent: 1
 -->

<html>
  <head>
    <title>PERSONALIZE</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <nav class = "navbar">
      <form action="/" method="POST"><input type="submit" value="HOME"></form>
      <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/explore" method="POST"><input type="submit" value="EXPLORE"></form>
      <form action="/personalize" method="POST"><input type="submit" value="PERSONALIZE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>PERSONALIZE YOUR WORKOUTS</h1>

    <p>Personalization process overview paragraph insert here</p>

    <div>
        <h3>Your Preferred Foods</h3>
        <p>List goes here or button to profile goes here</p>
        <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>  
    </div>
    
    <div>
        <h3>Your Preferred Workouts</h3>
        <p>List goes here or button to profile goes here</p>
        <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>  
    </div>   
    
    <div>
        <h3>PERSONALIZED WORKOUT PLAN</h3>
        <p>List of preferred workouts and how many times you'd have to repeat them to burn preferred foods calories</p>
    </div>
    
  </body>
</html>
