<!DOCTYPE html>

<!--
  Veronika Duvanova, Naomi Kurian, Alvin Sze, Andrew Tsai  Bacon Bros
  SoftDev
  P04 - Makers Makin' It
  2026 - 3 - 30
  time spent: 1
 -->

<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <nav class = "navbar">
      <form action="/" method="POST"><input type="submit" value="HOME"></form>
      <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/explore" method="POST"><input type="submit" value="EXPLORE"></form>
      <form action="/personalize" method="POST"><input type="submit" value="PERSONALIZE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>PROFILE</h1>
    
    <h2>Hello, {{user}}!</h2>

    <h3>Basic Info</h3>

    <form>
        <h2>What is your age?</h2>
        <input type="number" name="age">

        <h2>What is your weight (lbs)?</h2>
        <input type="number" name="age">
        
        <h2>What is your height ()?</h2>
        <input type="number" name="age">
        
        <h2>Estimated weight loss goal: {{est}}</h2>

        <h2>How much weight do you want to lose:</h2>

        {% if d %}
                <button type="submit" name = "infoEdit">Edit</button>
        {% else %}
    </form>


    <h3>Food Preferences</h3>
        {{food}}
        <form method="POST" action="">
            {% if d1 %}
                <button type="submit" name = "foodEdit">Edit</button>
            {% else %}

          <!-- Can we get this into a dropdown? -->
                <p>Enter new foods below:</p>
                <input type="text" name="idk" required>
                <input type="submit" name="foodsSub">
            {% endif %}
        </form>


        <h3>Exercise Preferences</h3>
        {{exercises}}
        <form method="POST" action="">
            {% if d2 %}
                <button type="submit" name = "exerEdit">Edit</button>
            {% else %}

          <!-- Can we get this into a dropdown? -->
                <p>Enter new exercises below:</p>
                <input type="text" name="idk2" required> 
                <input type="submit" name="exerSub">
            {% endif %}
        </form>




      </div>
    </div>

  </body>
</html>
