<!DOCTYPE html>

<!--
  Veronika Duvanova, Naomi Kurian, Alvin Sze, Andrew Tsai  Bacon Bros
  SoftDev
  P04 - Makers Makin' It
  2026 - 3 - 30
  time spent: 1
 -->

<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/profile.js" defer></script>
  </head>
  <body>
    <nav class = "navbar">
      <form action="/" method="POST"><input type="submit" value="HOME"></form>
      <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/explore" method="POST"><input type="submit" value="EXPLORE"></form>
      <form action="/personalize" method="POST"><input type="submit" value="PERSONALIZE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>{{user}}'s Profile</h1>
    <br>

    <script>
      if (window.history.replaceState) {
          window.history.replaceState(null, null, window.location.href);
      }
    </script>

    <h2>Bio Profile</h2>

    <form method="POST">
        <h3>What is your age?</h3>
        {{ age }} years old
        
        {% if not d %}
        <input type="number" name="age" value = {{age}} required>
        {% endif %}


        <h3>What is your weight (lbs)?</h3>
        {{ weight }} lbs

        {% if not d %}
        <input type="number" name="weight" value = {{weight}} required>
        {% endif %}        



        <h3>What is your height (in)?</h3>
        {{ height }} cm

        {% if not d %}
        <input type="number" name="height" value = {{height}} required>
        {% endif %}

        <h3>What is your assigned sex at birth?</h3>
        {{ sex }} 

        {% if not d %}
          <fieldset>
            <input type="radio" id = "f" name = "sex" value="Female" required>
            <label for="f">Female</label><br>

            <input type="radio" id = "m" name = "sex" value="Male">
            <label for="m">Male</label><br>

            <input type="radio" id = "p" name = "sex" value="Prefer not to say">
            <label for="p">Prefer not to answer</label><br>
          </fieldset>
        {% endif %}

        <h3>How would you describe your activity level?</h3>
        {{ activity }} 

        {% if not d %}
          <fieldset>
            <input type="radio" id = "f" name = "act" value="Sedentary" required>
            <label for="f">Sedentary</label><br>

            <input type="radio" id = "m" name = "act" value="Lightly Active">
            <label for="m">Lightly Active</label><br>

            <input type="radio" id = "p" name = "act" value="Moderately Active">
            <label for="p">Moderately Active</label><br>

            <input type="radio" id = "m" name = "act" value="Very Active">
            <label for="m">Very Active</label><br>

            <input type="radio" id = "p" name = "act" value="Extra Active">
            <label for="p">Extra Active</label><br>
          </fieldset>
        {% endif %}







        <br><br>

        {% if d %}
        <button type="submit" name = "infoEdit">Edit</button>
        {% else %}
        <button type="submit" name ="newInfo">Submit</button>
        {% endif %}
      


    </form>


    {% if not d2 %}
      <h2>Please fill out any remaining questions above</h2>
      
    {% else %}

    <br><br><br><br>
    <div id ="report">

      <h2>Results:</h2>
      <h3>BMI: {{stats[0]}}</h3>
      <h3>Status: {{stats[1]}}</h3>
      <h3>BMR: {{stats[2]}}</h3>
      <h3>TDEE: {{stats[3]}}</h3>

      {% if age > 19 %}
        <h3>Healthy BMI (Adult): 18.5 - 24.9</h3>
      {%else%}
        <h3>Healthy BMI (Kids & Teens, ages 2-19):</h3>
      
        <p>Requires BMI percentile ranges for evaluation. Find the CDC growth charts for young girls and boys below.</p>
      
        <p>Underweight: &lt; 5th percentile</p>
      
        <p>Normal: &ge; 5th percentile, &lt; 85th percentile</p>
 
        <p>Overweight: &ge; 85th percentile, &lt; 95th percentile</p>
 
        <p>Obsese: &ge; 95th percentile,</p>

        <a href="https://www.cdc.gov/growthcharts/cdc-charts.htm">CDC Growth Charts</a>
      {%endif%}

    </div>

    {% endif %}


    <br><br><br><br>

    <h2>Diet</h2>

    <h3>Total calories: {{vals[0]}}</h3>
    <h3>TDEE (total daily energy expenditure): {{stats[3]}}</h3>


    <div class="charts">

      {% if food | length > 0 %}
      <div class = "chart">
      <canvas id="foodNut"></canvas>
      </div>

      <script>
        const breakdown = {{ vals[1:] | tojson }};
      </script>

      {%else%}
      <div class = "chart">
        <img src="/static/apple.jpeg" alt="healthy food">
      </div>
      {% endif %}

      <div class = "chart">
        <canvas id="good"></canvas>
      </div>

      <script src="/static/js/chart.js"></script>


    </div>

    <h3>Today's Meal Plan</h3>
      <ul>
        {% for f in food %}
          <li>
            {{f[0]}}  
            <button onclick="delF(this)" data-value="{{f[0]}}">x</button> 
          </li>
        {% endfor %}
      </ul>
          <br>
          <button onclick="drop()" id = "foodEdit">Search Foods</button>
          <br>

     
          <div class="dropdown1">
              <div id="dropd" class="menu">
                <div class="searchBar" id = 's'>
                  <input type="text" placeholder="Search..." id="search" onkeyup="filter()">
                </div>
                <div id = "options" class="opt">
                    {% for f in foods %}
                    <p onclick ="newF(this)" data-value = "{{f}}">{{f}}</p> 
                    {% endfor %}
                </div>
              </div>

          </div>
        

       


      <br><br><br><br>

      <div>
        <h3>Want to See Your Personalized Workout Plan?</h3>
        <p>ALALalalalalalaalaalalal</p>
        <form action="/personalize" method="POST"><input type="submit" value="PERSONALIZE"></form>  

      </div>

  </body>
</html>
